{#let author=cardPost.data.get('author')}
<a class="card" href="{cardPost.url}">
  <div class="card__cover">
    <img src="{cardPost.url}background.png" alt="" onerror="this.onerror=null;this.src='/images/default-cover.png';">
  </div>
  <div class="card__infos">
    <div class="author">
      {#if author && !author.contains(' ')}
        <img class="author__avatar" src="https://github.com/{author}.png" onerror="this.onerror=null;this.src='/images/elty.jpg'" alt="">
      {#else}
        <img class="author__avatar" src="/images/elty.jpg" alt="">
      {/if}
      <p class="author__text">{cdi:authors.displayName(author) ?: 'Elty'}</p>
      <span></span>
      <p class="author__date">{cardPost.date.format('dd MMM yyyy')}</p>
    </div>
    <p class="card__title">{cardPost.title}</p>
    <div class="flexbox ff-wrap">
      {#for tag in cardPost.data.get('tags')}
        <object class="card__tag"><a class="tag" href="/tags/{tag.toLowerCase.slugify}">{tag}</a></object>
      {/for}
    </div>
  </div>
</a>
{/let}
